*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	margin: 0;
}

img,
picture,
video,
canvas {
	display: block;
	max-width: 100%;
	height: auto;
}

.nes-btn:focus {
	box-shadow: 0 0 0 6px var(--color-blue);
}
