:root {
	/* colors */
	--color-blue: hsl(204, 86%, 53%);
	--color-red: hsl(4, 65%, 49%);
	--color-yellow: hsl(48, 93%, 49%);
	--color-green: hsl(96, 52%, 51%);
	--color-black: hsl(0, 0%, 12%);
	--color-gray: hsl(210, 2%, 57%);
	--color-white: hsl(0, 0%, 97%);
	--color-bg-2: wheat;

	/* sizes */
	--xl: 1536px;
	--lg: 1280px;
	--md: 992px;
	--sm: 768px;
	--xs: 365px;

	--min-width: 320px;
	--max-width: 1920px;
	--max-width-container: 1200px;
}
